<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crm.dao.ContactsRemarkMapper">
  <resultMap id="BaseResultMap" type="com.example.crm.model.ContactsRemark">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="notePerson" jdbcType="VARCHAR" property="notePerson" />
    <result column="noteContent" jdbcType="VARCHAR" property="noteContent" />
    <result column="noteTime" jdbcType="CHAR" property="noteTime" />
    <result column="editPerson" jdbcType="VARCHAR" property="editPerson" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="editFlag" jdbcType="INTEGER" property="editFlag" />
    <result column="contactsId" jdbcType="CHAR" property="contactsId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, notePerson, noteContent, noteTime, editPerson, editTime, editFlag, contactsId
  </sql>
  <select id="selectByExample" parameterType="com.example.crm.model.ContactsRemarkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_contacts_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_contacts_remark
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_contacts_remark
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.crm.model.ContactsRemarkExample">
    delete from tbl_contacts_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.crm.model.ContactsRemark">
    insert into tbl_contacts_remark (id, notePerson, noteContent, 
      noteTime, editPerson, editTime, 
      editFlag, contactsId)
    values (#{id,jdbcType=CHAR}, #{notePerson,jdbcType=VARCHAR}, #{noteContent,jdbcType=VARCHAR}, 
      #{noteTime,jdbcType=CHAR}, #{editPerson,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, 
      #{editFlag,jdbcType=INTEGER}, #{contactsId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.crm.model.ContactsRemark">
    insert into tbl_contacts_remark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="notePerson != null">
        notePerson,
      </if>
      <if test="noteContent != null">
        noteContent,
      </if>
      <if test="noteTime != null">
        noteTime,
      </if>
      <if test="editPerson != null">
        editPerson,
      </if>
      <if test="editTime != null">
        editTime,
      </if>
      <if test="editFlag != null">
        editFlag,
      </if>
      <if test="contactsId != null">
        contactsId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="notePerson != null">
        #{notePerson,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="noteTime != null">
        #{noteTime,jdbcType=CHAR},
      </if>
      <if test="editPerson != null">
        #{editPerson,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        #{editFlag,jdbcType=INTEGER},
      </if>
      <if test="contactsId != null">
        #{contactsId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.crm.model.ContactsRemarkExample" resultType="java.lang.Long">
    select count(*) from tbl_contacts_remark
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_contacts_remark
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.notePerson != null">
        notePerson = #{record.notePerson,jdbcType=VARCHAR},
      </if>
      <if test="record.noteContent != null">
        noteContent = #{record.noteContent,jdbcType=VARCHAR},
      </if>
      <if test="record.noteTime != null">
        noteTime = #{record.noteTime,jdbcType=CHAR},
      </if>
      <if test="record.editPerson != null">
        editPerson = #{record.editPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.editTime != null">
        editTime = #{record.editTime,jdbcType=CHAR},
      </if>
      <if test="record.editFlag != null">
        editFlag = #{record.editFlag,jdbcType=INTEGER},
      </if>
      <if test="record.contactsId != null">
        contactsId = #{record.contactsId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_contacts_remark
    set id = #{record.id,jdbcType=CHAR},
      notePerson = #{record.notePerson,jdbcType=VARCHAR},
      noteContent = #{record.noteContent,jdbcType=VARCHAR},
      noteTime = #{record.noteTime,jdbcType=CHAR},
      editPerson = #{record.editPerson,jdbcType=VARCHAR},
      editTime = #{record.editTime,jdbcType=CHAR},
      editFlag = #{record.editFlag,jdbcType=INTEGER},
      contactsId = #{record.contactsId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.crm.model.ContactsRemark">
    update tbl_contacts_remark
    <set>
      <if test="notePerson != null">
        notePerson = #{notePerson,jdbcType=VARCHAR},
      </if>
      <if test="noteContent != null">
        noteContent = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="noteTime != null">
        noteTime = #{noteTime,jdbcType=CHAR},
      </if>
      <if test="editPerson != null">
        editPerson = #{editPerson,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        editTime = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editFlag != null">
        editFlag = #{editFlag,jdbcType=INTEGER},
      </if>
      <if test="contactsId != null">
        contactsId = #{contactsId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.crm.model.ContactsRemark">
    update tbl_contacts_remark
    set notePerson = #{notePerson,jdbcType=VARCHAR},
      noteContent = #{noteContent,jdbcType=VARCHAR},
      noteTime = #{noteTime,jdbcType=CHAR},
      editPerson = #{editPerson,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=CHAR},
      editFlag = #{editFlag,jdbcType=INTEGER},
      contactsId = #{contactsId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>