<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crm.dao.TransactionMapper">
  <resultMap id="BaseResultMap" type="com.example.crm.model.Transaction">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="amountOfMoney" jdbcType="BIGINT" property="amountOfMoney" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="expectedClosingDate" jdbcType="CHAR" property="expectedClosingDate" />
    <result column="customerId" jdbcType="CHAR" property="customerId" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="possibility" jdbcType="INTEGER" property="possibility" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="activityId" jdbcType="CHAR" property="activityId" />
    <result column="contactsId" jdbcType="CHAR" property="contactsId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="createTime" jdbcType="CHAR" property="createTime" />
    <result column="editBy" jdbcType="VARCHAR" property="editBy" />
    <result column="editTime" jdbcType="CHAR" property="editTime" />
    <result column="contactSummary" jdbcType="VARCHAR" property="contactSummary" />
    <result column="nextContactTime" jdbcType="CHAR" property="nextContactTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, owner, amountOfMoney, name, expectedClosingDate, customerId, stage, type, possibility, 
    source, activityId, contactsId, description, createBy, createTime, editBy, editTime, 
    contactSummary, nextContactTime
  </sql>
  <select id="selectByExample" parameterType="com.example.crm.model.TransactionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_transaction
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_transaction
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.crm.model.TransactionExample">
    delete from tbl_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.crm.model.Transaction">
    insert into tbl_transaction (id, owner, amountOfMoney, 
      name, expectedClosingDate, customerId, 
      stage, type, possibility, 
      source, activityId, contactsId, 
      description, createBy, createTime, 
      editBy, editTime, contactSummary, 
      nextContactTime)
    values (#{id,jdbcType=CHAR}, #{owner,jdbcType=VARCHAR}, #{amountOfMoney,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{expectedClosingDate,jdbcType=CHAR}, #{customerId,jdbcType=CHAR}, 
      #{stage,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{possibility,jdbcType=INTEGER}, 
      #{source,jdbcType=VARCHAR}, #{activityId,jdbcType=CHAR}, #{contactsId,jdbcType=CHAR}, 
      #{description,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{editBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, #{contactSummary,jdbcType=VARCHAR}, 
      #{nextContactTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.crm.model.Transaction">
    insert into tbl_transaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="amountOfMoney != null">
        amountOfMoney,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="expectedClosingDate != null">
        expectedClosingDate,
      </if>
      <if test="customerId != null">
        customerId,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="possibility != null">
        possibility,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="activityId != null">
        activityId,
      </if>
      <if test="contactsId != null">
        contactsId,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="editBy != null">
        editBy,
      </if>
      <if test="editTime != null">
        editTime,
      </if>
      <if test="contactSummary != null">
        contactSummary,
      </if>
      <if test="nextContactTime != null">
        nextContactTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="amountOfMoney != null">
        #{amountOfMoney,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="expectedClosingDate != null">
        #{expectedClosingDate,jdbcType=CHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=CHAR},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="possibility != null">
        #{possibility,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=CHAR},
      </if>
      <if test="contactsId != null">
        #{contactsId,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=CHAR},
      </if>
      <if test="contactSummary != null">
        #{contactSummary,jdbcType=VARCHAR},
      </if>
      <if test="nextContactTime != null">
        #{nextContactTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.crm.model.TransactionExample" resultType="java.lang.Long">
    select count(*) from tbl_transaction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_transaction
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.owner != null">
        owner = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.amountOfMoney != null">
        amountOfMoney = #{record.amountOfMoney,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.expectedClosingDate != null">
        expectedClosingDate = #{record.expectedClosingDate,jdbcType=CHAR},
      </if>
      <if test="record.customerId != null">
        customerId = #{record.customerId,jdbcType=CHAR},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.possibility != null">
        possibility = #{record.possibility,jdbcType=INTEGER},
      </if>
      <if test="record.source != null">
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.activityId != null">
        activityId = #{record.activityId,jdbcType=CHAR},
      </if>
      <if test="record.contactsId != null">
        contactsId = #{record.contactsId,jdbcType=CHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        createBy = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        createTime = #{record.createTime,jdbcType=CHAR},
      </if>
      <if test="record.editBy != null">
        editBy = #{record.editBy,jdbcType=VARCHAR},
      </if>
      <if test="record.editTime != null">
        editTime = #{record.editTime,jdbcType=CHAR},
      </if>
      <if test="record.contactSummary != null">
        contactSummary = #{record.contactSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.nextContactTime != null">
        nextContactTime = #{record.nextContactTime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_transaction
    set id = #{record.id,jdbcType=CHAR},
      owner = #{record.owner,jdbcType=VARCHAR},
      amountOfMoney = #{record.amountOfMoney,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      expectedClosingDate = #{record.expectedClosingDate,jdbcType=CHAR},
      customerId = #{record.customerId,jdbcType=CHAR},
      stage = #{record.stage,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      possibility = #{record.possibility,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      activityId = #{record.activityId,jdbcType=CHAR},
      contactsId = #{record.contactsId,jdbcType=CHAR},
      description = #{record.description,jdbcType=VARCHAR},
      createBy = #{record.createBy,jdbcType=VARCHAR},
      createTime = #{record.createTime,jdbcType=CHAR},
      editBy = #{record.editBy,jdbcType=VARCHAR},
      editTime = #{record.editTime,jdbcType=CHAR},
      contactSummary = #{record.contactSummary,jdbcType=VARCHAR},
      nextContactTime = #{record.nextContactTime,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.crm.model.Transaction">
    update tbl_transaction
    <set>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="amountOfMoney != null">
        amountOfMoney = #{amountOfMoney,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="expectedClosingDate != null">
        expectedClosingDate = #{expectedClosingDate,jdbcType=CHAR},
      </if>
      <if test="customerId != null">
        customerId = #{customerId,jdbcType=CHAR},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="possibility != null">
        possibility = #{possibility,jdbcType=INTEGER},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activityId = #{activityId,jdbcType=CHAR},
      </if>
      <if test="contactsId != null">
        contactsId = #{contactsId,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        editBy = #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        editTime = #{editTime,jdbcType=CHAR},
      </if>
      <if test="contactSummary != null">
        contactSummary = #{contactSummary,jdbcType=VARCHAR},
      </if>
      <if test="nextContactTime != null">
        nextContactTime = #{nextContactTime,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.crm.model.Transaction">
    update tbl_transaction
    set owner = #{owner,jdbcType=VARCHAR},
      amountOfMoney = #{amountOfMoney,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      expectedClosingDate = #{expectedClosingDate,jdbcType=CHAR},
      customerId = #{customerId,jdbcType=CHAR},
      stage = #{stage,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      possibility = #{possibility,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      activityId = #{activityId,jdbcType=CHAR},
      contactsId = #{contactsId,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      createBy = #{createBy,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=CHAR},
      editBy = #{editBy,jdbcType=VARCHAR},
      editTime = #{editTime,jdbcType=CHAR},
      contactSummary = #{contactSummary,jdbcType=VARCHAR},
      nextContactTime = #{nextContactTime,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>